<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="profile-element">
                	<div class="logo"><i class="fa fa-leaf"></i> Flowable-Demo</div>
                </div>
                <div class="logo-element">
                    Flow
                </div>
            </li>
			<li ui-sref-active="active">
				<a ui-sref="model"><i class="fa fa-star"></i> <span class="nav-label">流程模型</span> </a>
			</li>
				<li ui-sref-active="active">
				<a ui-sref="oa"><i class="fa fa-bookmark"></i> <span class="nav-label">OA演示</span> </a>
			</li>
        </ul>

    </div>
</nav>