.selected-item-bpmn {
	padding: 0;
	overflow: auto;
	height: 150px;
}
.selected-item-body > div.row {
	overflow: hidden;	
	margin: 1px 0px;
}
.input > button.btn {
	font-size:12px;
}
div[ng-cell] > button.btn {
	font-size:12px;
}
.modal.modal-medium .modal-dialog {
	width: 700px;	
}

.modal-dialog.modal-medium {
    width: 700px;  
}

.btn-add-remove{
    padding-top: 60px;
    padding-left: 17px;
}

.listener-btn-add-remove{
    padding-top: 30px;
    padding-left: 47px;
}

.actor-type-select{
    width: 140px;
    height: 20px;
    font-size: 12.5px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
}

.condition-input{
    width: 65px;
    height: 20px;
    font-size: 12.5px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
}

.condition-expression-input{
    width: 90px;
}
.condition-link-input{
    width: 40px;
}

.item-textarea{
	width: 100%; 
	height: 100%; 
	max-width: 100%; 
	max-height: 100%; 
	min-height: 100px
}

.item-div{
 	border: 2px solid rgb(212,212,212);
    background-color: rgb(253, 253, 253);
    width: 100%;
    margin-bottom: 2px;
}


.item-actor-grid {
    height: 300px;
}

.item-iframe {
    height: 300px;
}
.item-tree {
    height: 300px;
    overflow: auto;
}
.item-field {
    height: 200px;
}
.item-button-form {
    height: 145px;
    overflow: auto;
}

.item-button-grid {
    height: 145px;
}

.item-btn-group > a.btn {
	margin-top: 15px;
	margin-bottom: 15px;
}
.label-btn {
  border-radius: 0;
  text-shadow: none;
  font-weight: normal;
  font-size: 12px;
  display: inline-block;
  background-color: #abbac3 !important;
}
input[type=checkbox].property,
input[type=radio].property {
  opacity: 1;
  min-height: 15px;
  min-width: 15px;
  height: 15px;
  border: 1px solid #C9C9C9;
  position: absolute;
  cursor: pointer;
}
input[type=radio][disabled], input[type=checkbox][disabled],input[type=text][disabled]{
  cursor: not-allowed;
  opacity: 1;
}
.ngGrid input[type="checkbox"].property {
  margin-top: 3px;
}
.space {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin-top: 2px;
}

.space-12 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin-top: 12px;
}

.property-header {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 10px;
  margin-top: 5px;
}
.propery-bind-form-header{
  border:1px solid #CCC
}
.propery-time-limit{
  border: 1px solid #CCC;
  margin: 5px 5px;
  background-color: rgb(207, 210, 213);
}
.propery-time-limit > div{
  margin: 3px 3px;
  background-color: white;
}
.propery-time-limit-input{
  width: 35px;
  line-height: normal;
  min-height: 21px;
}
.tab-content {
  border: 1px solid #c5d0dc;
  padding: 5px 12px;
  position: relative;
  background-color: #e8edf1;
}
.nav-tabs {
  border-color: #C5D0DC;
  margin-bottom: 0 !important;
  margin-left: 0;
  position: relative;
  top: 1px;
}
.nav-tabs > li > a {
  padding: 7px 12px 8px;
}
.nav-tabs > li > a,
.nav-tabs > li > a:focus {
  border-radius: 0 !important;
  border-color: #c5d0dc;
  background-color: #F9F9F9;
  color: #999;
  margin-right: -1px;
  line-height: 18px;
  position: relative;
}
.nav-tabs > li > a:hover {
  background-color: #FFF;
  color: #4c8fbd;
  border-color: #c5d0dc;
}
.nav-tabs > li > a:active,
.nav-tabs > li > a:focus {
  outline: none !important;
}
.nav-tabs > li:first-child > a {
  margin-left: 0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #576373;
  border-color: #c5d0dc;
  border-top: 2px solid #4c8fbd;
  border-bottom-color: transparent;
  background-color: #e8edf1;
  z-index: 1;
  line-height: 18px;
  margin-top: -1px;
  box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.15);
}
.dark {
  color: #333333 !important;
}
.white {
  color: #ffffff !important;
}
.red {
  color: #dd5a43 !important;
}
.red2 {
  color: #e08374 !important;
}
.light-red {
  color: #ff7777 !important;
}
.blue {
  color: #478fca !important;
}
.light-blue {
  color: #93cbf9 !important;
}
.green {
  color: #69aa46 !important;
}
.light-green {
  color: #b0d877 !important;
}
.orange {
  color: #ff892a !important;
}
.orange2 {
  color: #feb902 !important;
}
.light-orange {
  color: #fcac6f !important;
}
.purple {
  color: #a069c3 !important;
}
.pink {
  color: #c6699f !important;
}
.pink2 {
  color: #d6487e !important;
}
.brown {
  color: #a52a2a !important;
}
.grey {
  color: #777777 !important;
}
.light-grey {
  color: #bbbbbb !important;
}